* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

body {
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1078px;
  position: relative;
}

.section {
  height: 100vh;
  min-height: 847px;
}

.logo {
  width: 102px;
  height: 28px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 18px;
}

.header__logo {
  width: 50%;
}

.header__input {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__link {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.header__link:hover {
  color: #7FF0FF;
}

.hero {
  background: url(./images/bg.svg) center center/cover no-repeat;
  position: relative;
  padding-top: 36px;
}

.hero__money {
  height: 632px;
  width: 100%;
  position: relative;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__img::before {
  content: url(./images/Ellipse-orange.svg);
  position: absolute;
  top: 22%;
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  color: #fff;
  padding-bottom: 14px;
  line-height: 64px;
}

.hero__name {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 24px;
  line-height: 36px;
}

.hero__name a {
  color: #fff;
}

.hero__data {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  padding-bottom: 38px;
  line-height: 32px;
}

.hero__desc {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.hero__button {
  width: 269px;
  height: 64px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6039FF), to(#3A19C0));
  background: linear-gradient(180deg, #6039FF 0%, #3A19C0 100%);
  border: none;
  border-radius: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  line-height: 64px;
}

.hero__button:hover {
  background: #fff;
  color: #6039FF;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
}

.hero__place {
  font-size: 18px;
  color: #fff;
  padding-bottom: 5px;
  line-height: 36px;
}

.hero__amount {
  font-weight: 600;
  font-size: 36px;
  color: #7FF0FF;
  line-height: 36px;
}

.hero__burger-pic {
  position: absolute;
  top: 1%;
  left: 36%;
}

.hero__fri-pic {
  position: absolute;
  right: -13%;
  bottom: 20%;
}

.hero__keks-pic {
  position: absolute;
  bottom: -3%;
  left: -7%;
}

.hero__pizza-pic {
  position: absolute;
  bottom: -18%;
  left: 38%;
}

.hero__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
}

.hero__end-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hero__end-wrap a {
  color: #fff;
}

.hero__end-left, .hero__end-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.hero__end-left a:hover, .hero__end-right a:hover {
  color: #7FF0FF;
}

.hero__end-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero__end-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 128px;
  height: 128px;
  background: radial-gradient(42.08px at 50% 67.13%, #6039FF 0%, #4522D1 100%);
  border-radius: 50%;
  position: absolute;
  top: 8%;
  right: -8%;
}

.ellipse__text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #7FF0FF;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.condit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: url(./images/bg-blue.svg) center center/cover no-repeat;
  margin-top: -100px;
  z-index: -1;
}

.condit__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
}

.condit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3%;
  background: rgba(100, 116, 255, 0.43);
  border-radius: 6px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px 18px;
}

.condit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

.condit__item span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.condit__name {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #fff;
  line-height: 64px;
  padding-bottom: 18px;
}

.condit__title {
  text-align: center;
  padding-bottom: 56px;
}

.condit__title p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
  line-height: 32px;
}

.condit__item span {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #71FF1B;
  line-height: 32px;
}

.condit__img {
  padding-right: 20px;
}

.condit__name--hund {
  font-style: normal;
  font-weight: 800;
  font-size: 63px;
  color: #71FF1B;
}

.condit__quest {
  color: #fff;
  font-style: normal;
  font-weight: 800;
  font-size: 63px;
}

.condit__desc {
  padding-bottom: 40px;
}

.condit__content {
  margin-top: 70px;
}

.result__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.result__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.result--bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(100, 116, 255, 0.43);
  border-radius: 6px;
  padding: 17px 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.result__number {
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  color: #71FF1B;
  line-height: 120px;
  padding-right: 16px;
}

.result__left span, .result__right span {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #fff;
  line-height: 32px;
}

.result__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  color: #71FF1B;
  padding-right: 16px;
}

.result__data span {
  color: #71FF1B;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
}

.section__gray {
  height: 74px;
  background-color: #e5e5e5;
}
/*# sourceMappingURL=main.css.map */